# Ignore Python virtual environments
churn-env/

# Bytecode
__pycache__/
*.py[cod]
*.pyo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store

# Model files
*.pkl
*.joblib

# Environment files
.env
Desktop/ChurnPredictor/
churn-pycaret-310/
__pycache__/
*.pyc
